{
  "printWidth": 200,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "comma-dangle": [
    "error",
    {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }
  ]
}
